.bridal-image-container {
  position: relative;
  width: 100%;
  padding-top: 150%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.bridal-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image fills the container without distortion */
  border-radius: 15px;
}

.overlay-buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 7;
  transition: opacity 0.3s ease;
  text-align: center;
}

.bridal-image-container:hover .overlay-buttons {
  opacity: 1;
}

.shop-now-btn {
  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.shop-now-btn:hover {
  background-color: #eee9e0;
  color: #000000;
}

.bridal-image-container:hover {
  /* box-shadow: 0px 0px 40px 0px #0000004D; */
}


/* Extra small (xs): <576px */
@media (max-width: 575.98px) {
  .mobile-paddin-fix {
    padding-left: 10px;
  }

  .bridal-image-container .overlay-buttons {
    opacity: 1 !important;
  }
}

/* Small (sm): ≥576px and <768px */
@media (min-width: 576px) and (max-width: 767) {
  .mobile-paddin-fix {
    padding-left: 10px;
  }
}

/* Medium (md): ≥768px and <992px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile-paddin-fix {
    /* padding-left: 20px; */
  }
}