/* Address Page Start +++++++++++++++++++++++++++++++++++++++++++ */
.border-rad-fivepx {
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #747474;
}

.default-Add-btn1 {
    border: 1px solid rgba(181, 27, 59, 1);
    border-radius: "50px" !important;
    color: rgba(181, 27, 59, 1);
}