.footer {
  position: relative;
  padding-top: 14px;
  background-image: url("../assets/images/Footer-img/footer-bg.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  padding-bottom: 100px;
  width: 100%;
}
.footer::before {
  position: absolute;
  background-image: url("../assets/images/Footer-img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}
.footer .full-logo {
  height: 66px;
  width: 173px;
}
.footer .button-2 {
  background-color: #da212b;
  height: 2.5rem;
}

.footer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-image: url("../assets/images/Footer-img/footer-elem.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.footer .div-img {
  height: 50px;
  width: 90px;
  margin-bottom: 0.5rem;
}
.list-unstyled li a:hover {
  color: #da212b !important;
}
.footer .image-box img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.footer .button-2:hover {
  background-color: black;
  transition: all 1s ease-in-out;
}
.footer .icon {
  font-size: 20px;
  gap: 2;
}

.footer .icon:hover {
  transform: scale(1.2);
}


.footer .know-more-button {
  border-radius: 20px;
  background-color: #000000;
}
.footer .know-more-button:hover {
  background-color: #da212b;
}

.div-img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.footer .payment [class*="col-"] {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 578px) {
  .footer::after {
    height: 116px;
    background-size: cover;
  }
  .footer .div-img {
    height: 40px;
    width: 73px;
  }
  .footer .button-2 {
    margin-left: 10px !important;
  }
}
@media only screen and (max-width: 768px) {
  .footer::after {
    height: 116px;
    background-size: cover;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 1rem !important;
  }
}
@media screen and (max-width: 378px) {
  .footer .div-img {
    width: 66px;
  }
}
@media screen and (max-width: 991px) {
  .footer .button-2 {
    width: 7.5rem;
  }
  .footer .button-2 span {
    font-size: 0.96rem;
  }
  .footer::after {
    height: 106px;
  }
}