.mobile-footer {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #00000026;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: none;
}

.mobi-footer-icon {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: color 0.3s ease;
}

.mobi-footer-icon svg {
  color: #000;
  transition: color 0.3s ease;
}

.mobi-footer-icon.active,
.mobi-footer-icon.active svg {
  color: rgba(181, 27, 59, 1);
  fill: rgba(181, 27, 59, 1);
}

@media (max-width: 768px) {
  .mobile-footer {
    display: block;
  }
}