/* Close button on the left side */
.custom-modal .modal-custom-header .modal-header {
    padding: 20px !important;
}

.modal-custom-header .btn-close {
    order: -1;
    width: 14px;
    height: 16px;
    margin: auto;
}

/* Styling for the Offcanvas Title (center it) */
.modal-custom-header .modal-title {
    flex-grow: 1;
    text-align: center;
}

.modal-custom-header .btn-close {
    --bs-btn-close-bg: url("../assets/images/MobileView/image.png");
    --bs-btn-close-opacity: 1;
}

.custom-modal-footer {
    box-shadow: 0px -3px 16.6px 0px rgba(0, 0, 0, 0.25);
}