/* Main Section Container */
.our-stores-section {
  max-width: 1836px;
  margin: 0 auto;
  padding: 0;
}

/* Relative Wrapper */
.our-stores-wrapper {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .our-stores-wrapper {
    height: 255px;
    /* Height for medium devices */
  }
}

/* Background Image */
.our-stores-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.our-stores-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.our-stores-image img:hover {
  transform: scale(1.05);
}

@media (min-width: 1200px) {
  .our-stores-button {
    font-size: 28px;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .our-stores-section {
    padding: 0 1rem;
  }

  .our-stores-image img {
    border-radius: 10px;
    backdrop-filter: blur(0.5490196347236633px);
    background: #00000066;
  }
  .our-stores-button {
    font-size: 22px;
  }
  .follow {
    font-weight: 500;
  }
}