.shop-by-category-slick .img-container {
  aspect-ratio: 9 / 12;
  max-width: 100%;
}

.shop-by-category-slick .img-container img {
  object-fit: cover;
  object-position: top;
  transition: transform 0.5s ease-in-out;
}

.img-hover-effect:hover {
  transform: scale(1.1);
}

.bg-dark-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 100%);
}

.shop-cat-heading {
  font-family: 'KaushanScript';
  font-size: 1.125rem;
  font-weight: 400;
}

/* End  +++++++++++++++++++++++++++*/

.cat-image-container {
  position: relative;
  aspect-ratio: 2 / 3;
  background: #f8f8f8;
  z-index: 1;
}

.shop-by-category-slick .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.shop-by-category-slick .next-arrow {
  right: -20px;
}

.shop-by-category-slick .prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gradient-bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 100%);
}

/* Container Styles */
.info-box {

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 100%);

}

/* Title Styles */
.info-title {
  font-size: 1.125rem;
  /* Default text size */
  line-height: 29px;
  font-family: 'Kaushan Script';
  /* Add the font import in your project */
  font-weight: 400;
  color: white;
}

@media (min-width: 640px) {

  /* sm breakpoint for larger screens */
  .info-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .mobile-category-slider {
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
}


/* Shop by color Start +++++++++++++++++++++++++++++++++++++++*/
.shop-by-color-prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.shop-by-color-prev-arrow {
  right: -20px;
}

/* Shop by color End ++++++++++++++++++++++++++++++++++++++++ */

.shop-by-category-slick .custom-arrow svg {
  width: 40px;
  height: 40px;
  fill: #333;
  /* Default color */
  transition: transform 0.3s ease, fill 0.3s ease;
}

/* Hover effect for arrows */
.shop-by-category-slick .custom-arrow:hover svg {
  transform: scale(1.1);
  fill: #B51B3B;
  /* Highlight color on hover */
}


/* Cutom Card Details */

.ctgBanner {
  width: 100%;
  height: 350px;
  position: relative;
  font-family: 'Kaushan Script';
  overflow: hidden;
  border-radius: 22px;
}

.ctgBanner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* Ensures the image fills the card without distortion */
  border-radius: 22px;
}

.ctgBanner .inCtgBanner {
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
  /* Centers text horizontally */
}

.ctgBanner .inCtgBanner h4 {
  color: #fff;
  /* Text color */
}