.custom-card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card-container .card-body {
  border: 2px solid white;
  border-radius: 10px;
}

.custom-card-container .card {
  background-image: url("../assets/images/CategoryByShopSlicks/ShopByCategoryBg.png");
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-card-container .icon-container {
  font-size: 50px;
  color: #000;
}


.custom-card-container .btn-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

/* Static Image Style Apply */
.staic-slider-image {
  width: 100%;
  height: auto;
}